* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: '#1e1e1e';
  height: 100vh;
}

.workspace {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
